/*
 * Styles for Simple System Status Plugin
 */

h2.sss-title {
	font-family: 'Open Sans', Arial,sans-serif;
	font-weight: 300;
	font-size: 3em;
	margin: 5px 0 20px 0;
}

.instructions {
	font-family: 'Open Sans', Arial,sans-serif;
	margin-top: 0;
}


p.submit {
    margin-top: 0px;
    padding-top: 0px !important;
    max-width: 100%;
    padding-top: 10px;
    text-align: left;
}

textarea#wcqdssstextarea {
	height: 450px;
    width: 100%;
	font-family: Menlo,Monaco,monospace;
	background: 0 0;
	white-space: pre;
	overflow: auto;
	display: block;
	padding: 10px 30px;
}


input[type="text"].sss-url {
	font-family: Menlo,Monaco,monospace;
	width: 600px;
	color: #444;
	padding: 10px;
}

.sss-tiny {
	font-size: .8em;
}